$theme-colors: (
  "primary": #50bebf,
  "grey-dark": #4e5456,
  "grey-mid": #e5e5e5,
  "grey-light": #f1f1f1
);

@import '../../node_modules/bootstrap/scss/bootstrap';

p, label {
    font-size: 0.9em;
}

// components

.container-large {
    width: 100%;
    max-width: 1800px;
}

.nav-list-outer {
    margin-right: 100px;
}

.nav-check-list {
    margin-right: 40px;
}

.aside {
    overflow-y: scroll;
    min-height: 600px; 
}

.restaurant-list {
    background-color: theme-color("grey-mid");
    .active{
        background-color: theme-color("primary");
    }
}

.main-panel {
    min-height: 600px;
}

.label {
    text-transform: uppercase;
    font-size: 0.9em;
}

.slider {
    min-width: '200px'
}

.square-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    .inner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
  }
  